/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
/* RESET CSS */

:root{
  --azul-escuro: #084f6f;
  --azul-medio: #0462ab;
  --azul-claro: #088fd3;
  --branco: #f5f5f5;
  --preto: #1e1e1e;
  --verde-escuro: #7bb586;
  --azul-piscina: #67cdf4;
  --azul-escuro-piscina: #49beee;
  --verde-claro:#abd8b4;
  --azul-agua: #39819c;
  --cinza: #88888866;
  --fonte-site: "Poppins", serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fonte-site);
  font-size: 1.6rem;
  background-color: var(--branco);
  ::selection{
    background-color: var(--verde-claro);
    color: #f5f5f5;
  }
  
}


