section{
    width: 80%;
    margin: auto;

    h2{
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
}

iframe{
    border-radius: 1rem;
}

.ajuste-videos{
    display: flex;
    justify-content: space-around;
}