.texto-home {
  margin-top: 8rem;
  display: flex;

  & p {
    font-size: 2rem;
    margin-top: 4rem;
    width: 80%;
  }
}

section {
  width: 80%;
  margin: auto;
}

.teste {
  font-size: 3rem !important;

  & span {
    color: var(--verde-escuro);
    font-weight: bold;
  }
}

.foto-texto {
  & img {
    width: 40rem;
  }
}

.posicao-mini-banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & img {
    width: 100%;
  }
}

.ajuste-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
}

.espaco-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
  width: 80%;
}

.tamanho-numero {
  font-size: 3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  width: 20%;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  min-width: 330px;

  /* & img {
    transition: 0.5s;
    cursor: pointer;
  }

  & img:hover {
    scale: 1.1;
  } */
}

h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-top: 10rem;
  font-weight: 400;
}

.text-final {
  padding: 4rem;
  margin-top: 10rem;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
  border: 30px solid var(--verde-escuro);
  border-image: url("../imgs/bordas-folhas.jpg") 150 round;
  border-style: inset;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 2rem;
}

@media screen and (max-width: 1700px) {
  .posicao-mini-banners {
    gap: 4rem;
    justify-content: center;
  }
}

@media screen and (max-width: 1600px) {
  .texto-home {
    & p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .texto-home {
    margin-bottom: 4rem;
  }

  .foto-texto {
    & img {
      display: none;
    }
  }
}

@media screen and (max-width: 930px) {
  .ajuste-cards {
    justify-content: center;
  }

  .texto-home {
    text-align: center;
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .text-final {
    font-size: 1.8rem;
    padding: 1rem;
    text-align: justify;
  }

  .texto-home {
    & p {
      font-size: 1.8rem;
      text-align: left;
      padding: 0 2rem 0 2rem;
      text-align: justify;
    }
  }

  .teste {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 2.5rem;
  }

  .espaco-card {
    width: 90%;
    margin-bottom: 4rem;
  }
}
